body {
    background-color: white;
    margin:0;
    overflow-x: none;
    font-family: 'Jost', sans-serif;  
}
a {
    text-decoration: none;
    color: black;
}

/* NAVBAR  */

#navBar {
    background-color:white;
    color: black;
    min-height:fit-content;
    width: 100%;
    position: fixed;
    padding-top: 5%;
    padding-bottom:2%;
    z-index:99;
        
}
 
#navLogo {
    margin-left: 10%;
    width: fit-content;
    height: fit-content;
    padding-left: .5%;
    padding-right: .5%;
    background-color: #b1b1b1;
    float:left;
    left:10% ;
}

#navListBox {
    display:flex;
    margin-right: 13%;
    justify-content: center;   
}

#navList {
    list-style-type: none;
    margin:0;
        
}

.navlink { 
    margin-right:1em;
    display:inline;
     
}

li.active {
    text-decoration: underline;
}

.navlink:hover{
    animation: button .5s ease forwards;
}

/* END OF NAVBAR  */



/* HERO CONTENT  */

/* HERO-BOX  */

.heroCard {
    background-color: #e2e2e2;
}

#heroBox {
    width: 93%;
    min-height: 50%;
    justify-content: center;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 1.5%;
}

#heroText {
    margin-left: 37%;
    width:28%;
    text-align: center;  
    font-size: 3.5em;
}

#heroUnderText {
    margin-top: -4%;
    margin-bottom: 3%;
    margin-left: 44%;
    color: rgb(80, 80, 80);
    font-size: small;
}

#heroButton {
    margin-left: 48%; 
    background-color: #e2e2e2;
    border: 1%;
    border-color: rgb(150, 149, 149);
    border-style: solid;
    padding: 1%; 
    box-shadow: none;
}

#heroButton:hover {
    animation: button .5s ease forwards;
}

@keyframes button {
    0% {
        background-color: #e2e2e2;
    }
    
    100%{
        background-color: #8b8b8b;
    }
}


/* SECONDARY-HERO-BOX  */

#secHeroContainer {
    margin:auto;
    justify-content: center;
    width: 85%;
    
}
#secHeroGrid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    justify-content: space-around;
}

#secHeroBox1 {
    grid-area: 1 / 1 / span 1 / span 2;
}

#secHeroBox2 {
    grid-column: 3;
}
#secHeroBox3 {
    grid-column: 4;
}

.card {
    background-color: #e2e2e2;
    height: 13em;
}

#secHeroText1, #secHeroText2, #secHeroText3 {
    display: block;
    background-color: white;
    color: black;
    padding: .5%;
    position: absolute
}

#secHeroText1:hover, #secHeroText2:hover, #secHeroText3:hover { 
animation: button .5s ease forwards;
cursor: pointer;
}

#secHeroText1 {
margin-top: 11%;
margin-left:30%

}

#secHeroText2 {
    padding: .3%;
    margin-top: 11%;
    margin-left: 5%;
}

#secHeroText3 {
    padding:.3%;
    margin-top: 11%;
    margin-left: 6%;
}

#hero {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .5%;
    border-style: solid;
    border-color:#d3d3d350;
    padding-bottom:1%;
    width: 93%;
    justify-content: center;
    margin: auto;
}

/* END OF HERO CONTENT  */

#form {
    margin: auto;
    width: 100%;
    justify-content: center;
}

#formHeader {
    margin-left: 45%;
    color: #383838;
}

#formText {
    margin-left: 37%;
    color: #8b8b8b;
}

#formSubmitBox {
    width: fit-content;
    margin-left:25%;
    margin-right: 30%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .5%;
    border-style: solid;
    border-color:#d3d3d360;
    
}

#textBar {
    width: 30%;
    height: 10%;
    border:none;
    margin-top: 3%;
    float: left;
}

#textBar:focus-visible {
    outline: none;
    border:none;
}

#submitButton {
    
    margin-top: 2%;
    margin-left:63.2%;
    width: 4%;
}

#socialsBar {
    margin-left: 45%;
    padding-bottom: 20%;
    padding-top: 1%;
}
#socialsBar img {
    width: 3%;
    padding: 1%;
    border:1%;
    border-style: solid;
    border-color: #d3d3d356;
}

/* END OF FORM  */
