body {
    background-color: white;
    margin:0;
    overflow-x: none;  
}
a {
    text-decoration: none;
    color: black;
}

/* NAVBAR  */

#navBar {
    background-color:white;
    color: black;
    min-height:fit-content;
    width: 100%;
    position: sticky;
    padding-top: 5%;
    padding-bottom:2%;
    
        
}
 
#navLogo {
    margin-left: 10%;
    width: fit-content;
    height: fit-content;
    padding-left: .5%;
    padding-right: .5%;
    background-color: #b1b1b1;
    float:left;
    left:10% ;
}

#navListBox{
    display:flex;
    margin-right: 13%;
    justify-content: center;   
}

#navList {
    list-style-type: none;
    margin:0;
        
}

.navlink { 
    padding-top: 3em;
    padding-right:1em;
    display:inline;
     
}

li.active
{
    text-decoration: underline;
}


/* END OF NAVBAR  */



/* HERO CONTENT  */

/* HERO-BOX  */
.heroCard{
    background-color: #cecdcd;
}

#heroBox{
    width: 93%;
    min-height: 50%;
    justify-content: center;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 1.5%;
}

#heroText{
    margin-left: 37%;
    
}

#heroUnderText{
    margin-left: 41%;
}

#heroButton{
    margin-left: 48%;
    
}

/* SECONDARY-HERO-BOX  */

#secHeroContainer {
    margin:auto;
    justify-content: center;
    width: 85%;
}
#secHeroGrid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    justify-content: space-around;
}

#secHeroBox1 {
    grid-area: 1 / 1 / span 1 / span 2;
}

#secHeroBox2 {
    grid-column: 3;
}
#secHeroBox3 {
    grid-column: 4;
}

.card {
    background-color: #cecdcd;
    height: 13em;
}

#secHeroText1, #secHeroText2, #secHeroText3 {
    display: block;
    background-color: white;
    color: black;
    padding: .5%;
    position: absolute
}

#secHeroText1 {
margin-top: 11%;
margin-left:30%

}

#secHeroText2 {
    padding: .3%;
    margin-top: 11%;
    margin-left: 5%;
}

#secHeroText3{
    padding:.3%;
    margin-top: 11%;
    margin-left: 6%;
}

/* END OF HERO CONTENT  */

#form{
    margin: auto;
    width: 100%;
    justify-content: center;
}

#formHeader {
    margin-left: 45%;
}

#formText{
    margin-left: 37%;
}

#formSubmitBox{
    margin-left:30%;
}

#textBar{
    width: 30%;
}